<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-4">
      <span class="h4">Formulário de Jogadores</span>
    </div>
  </div>
</div>

<div class="body-container">
  <div class="container ">
    <div class="row">
      <div class="col-12 mt-2">
        <form #jogadorForm="ngForm" (ngSubmit)="salvarOuAtualizarJogador(jogadorForm)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nome*</label>
              <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="jogador.nome" name="nome"
                placeholder="Nome" >
              <small class="mt-1 text-danger">
               Apenas letras sem números.
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Telefone*</label>
              <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="jogador.telefone" name="telefone"
                placeholder="Telefone" maxlength="11"> <small class="mt-1 text-danger">
                Apenas o ddd e o telefone, sem caracteres
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cpf">Cpf*</label>
              <input type="text" class="form-control" id="cpf" [(ngModel)]="jogador.cpf" name="cpf"
                placeholder="Cpf">
              <small class="mt-1 text-danger" >
                Apenas números, 11 caracteres sem os acentos.
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Idade do jogador*</label>
              <input type="number" class="form-control" required id="inputCity" [(ngModel)]="jogador.idade" name="idade"
                placeholder="Idade">
              <small class="mt-1 text-danger">
                Idade é obrigatório.
              </small>
            </div>
          </div>
          <a [routerLink]="['/jogador']" class="btn btn-danger mr-3">Cancelar</a>
          <button class="btn btn-save">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>