@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */

.mat-toolbar.mat-primary {
    background: #0c5c17;
    color: #fff;
}

.btn-save{
    background: #0c5c17;
    color: #fff;
}

.body-container {
    background-color: rgb(233, 232, 232);
    height: 85vh;
}
